body {
    background-color: black;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: "Gloock", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 150px;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 350px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    filter: blur(100px);
    z-index: -1;
}

/* #blur {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    backdrop-filter: blur(100px);
} */
